<body>
    <br>
    <div class="alert alert-danger" *ngIf='error'>{{error}}</div>
    <div class="col-md-4 offset-md-4 mt-5 card">
        <div class="card-header bg-primary text-white">
            <div class="card-title">
                <h4>Register</h4>
            </div>
        </div>
        <div class="card-body">
            <form #registerForm='ngForm' (ngSubmit)='register(registerForm)'>
                <input type="text" name="id" id="id" required minlength="1" #id='ngModel' ngModel class="form-control mb-3" placeholder="Enter Id...">
                <div *ngIf="id.invalid && id.touched">
                    <p *ngIf="id.errors.required" class="text-danger">*This field is mandatory
                        <p *ngIf="id.errors.minlength" class="text-danger">*This field accepts minimum 1 characters
                </div>

                <input type="text" name="name" id="name" required minlength="3" maxlength="20" #name='ngModel' ngModel class="form-control mb-3" placeholder="Enter Name...">
                <div *ngIf="name.invalid && name.touched">
                    <p *ngIf="name.errors.required" class="text-danger">*This field is mandatory
                        <p *ngIf="name.errors.minlength" class="text-danger">*This field accepts minimum 3 characters
                            <p *ngIf="name.errors.maxlength" class="text-danger">*This field accepts maximum 20 characters
                </div>

                <input type="email" name="email" id="email" required minlength="3" maxlength="30" #email='ngModel' ngModel class="form-control mb-3" placeholder="Enter Email...">
                <div *ngIf="email.invalid && email.touched">
                    <p *ngIf="email.errors.required" class="text-danger">*This field is mandatory
                        <p *ngIf="email.errors.minlength" class="text-danger">*This field accepts minimum 3 characters
                            <p *ngIf="name.errors.maxlength" class="text-danger">*This field accepts maximum 30 characters
                </div>


                <input type="password" name="password" id="password" required minlength="8" #password='ngModel' ngModel class="form-control mb-3" placeholder="Enter password...">
                <div *ngIf="password.invalid && password.touched">
                    <p *ngIf="password.errors.required" class="text-danger">*This field is mandatory
                        <p *ngIf="password.errors.minlength" class="text-danger">*This field accepts minimum 3 characters
                </div>

                <input type="text" name="type" id="type" required minlength="3" #type='ngModel' ngModel class="form-control mb-3" placeholder="Enter Type..">
                <div *ngIf="type.invalid && type.touched">
                    <p *ngIf="type.errors.required" class="text-danger">*This field is mandatory
                        <p *ngIf="type.errors.minlength" class="text-danger">*This field accepts minimum 3 characters
                </div>

                <button type="submit" class="float-right btn btn-info" [disabled]="registerForm.invalid">Register</button>
            </form>
        </div>
    </div>
    <br><br><br><br>
</body>