<body>
    <br><br><br><br>
    <fieldset style="width: 600px; margin: auto;">
        <div class="card" style="width: 600px; margin: auto;">
            <div class="card-header bg-dark text-white">
                <h4 class="text-uppercase text-center">Change Password</h4>
            </div>
            <div class="card-body">
                <div class="row">

                    <div class="col-md-6 offset-md-3 mt-5">

                        <form #passwordForm="ngForm" (ngSubmit)="password(passwordForm.value)" method="POST" role="form">
                            New Password <input type="password" name="password" required minlength="8" id="password" placeholder="Enter New Password" #password="ngModel" ngModel class="form-control mb-3">
                            <div *ngIf="password.invalid && password.touched">
                                <p *ngIf="password.errors.required" class="text-danger">*This field is mandatory
                                    <p *ngIf="password.errors.minlength" class="text-danger">*This field accepts minimum 8 characters
                            </div>
                            Confirm Password <input type="password" name="cpassword" required minlength="8" id="cpassword" placeholder="Confirm Password" #cpassword="ngModel" ngModel class="form-control mb-3">
                            <div *ngIf="cpassword.invalid && cpassword.touched">
                                <p *ngIf="cpassword.errors.required" class="text-danger">*This field is mandatory
                                    <p *ngIf="cpassword.errors.minlength" class="text-danger">*This field accepts minimum 8 characters
                            </div>

                            <button class="float-right btn btn-info" type="submit" [disabled]="passwordForm.invalid">
                            Change Password
                        </button>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </fieldset>
    <br><br><br><br><br><br>
</body>