<body>
    <br>
    <div class="alert alert-danger" *ngIf='error'>{{error}}</div>
    <div class="col-md-4 offset-md-4 mt-5 card">
        <div class="card-header bg-secondary text-white">
            <div class="card-title">
                <h4 class="text-uppercase text-center">Compose Mail</h4>
            </div>
        </div>
        <div class="card-body">
            <form #composeForm='ngForm' (ngSubmit)='compose(composeForm)'>
                <input type="text" name="name" id="name" required minlength="6" maxlength="20" #name='ngModel' ngModel class="form-control mb-3" placeholder="Enter to-address...">
                <div *ngIf="name.invalid && name.touched">
                    <p *ngIf="name.errors.required" class="text-danger">*This field is mandatory
                        <p *ngIf="name.errors.minlength" class="text-danger">*This field accepts minimum 6 characters
                            <p *ngIf="name.errors.maxlength" class="text-danger">*This field accepts maximum 20 characters
                </div>

                <input type="text" name="email" id="email" required minlength="8" maxlength="30" #email='ngModel' ngModel class="form-control mb-3" placeholder="Enter Subject...">
                <div *ngIf="email.invalid && email.touched">
                    <p *ngIf="email.errors.required" class="text-danger">*This field is mandatory
                        <p *ngIf="email.errors.minlength" class="text-danger">*This field accepts minimum 8 characters
                            <p *ngIf="name.errors.maxlength" class="text-danger">*This field accepts maximum 30 characters
                </div>


                <input type="text" name="password" id="password" required minlength="8" #password='ngModel' ngModel class="form-control mb-3" placeholder="Enter message...">
                <div *ngIf="password.invalid && password.touched">
                    <p *ngIf="password.errors.required" class="text-danger">*This field is mandatory
                        <p *ngIf="password.errors.minlength" class="text-danger">*This field accepts minimum 8 characters
                </div>

                <button type="submit" class="float-right btn btn-info" [disabled]="composeForm.invalid">Send</button><br>

            </form>
        </div>
    </div>
    <br><br><br><br>
</body>