<ul class="list-group">
    <li class="list-group-item">Mails</li>
    <li class="list-group-item list-group-item-primary">
        <a routerLink="./compose">Compose</a>
    </li>
    <li class="list-group-item list-group-item-secondary">
        <a class="font-weight-bolder" routerLink="/inbox">Inbox</a>
    </li>
    <li class="list-group-item list-group-item-success">
        <a class="font-weight-bolder" routerLink="/sent">Sent</a>
    </li>
    <li class="list-group-item list-group-item-warning">
        <a class="font-weight-bolder" routerLink="/received">Received</a>
    </li>
    <li class="list-group-item list-group-item-danger">
        <a class="font-weight-bolder" routerLink="/delete">Delete</a>
    </li>
    <button type="submit" class="float-right btn btn-info">LogOut</button><br>
</ul>